<h1>Articles</h1>
{% if articles_list %}
<table border="1" cellpadding="3">
	<tr>
		<td>Id</td><td>Famille</td><td>Libellé</td><td>Prix</td><td>Date</td>
	</tr>
	{% for article in articles_list %}
		<tr>
			<td>{{article.id}}</td>
			<td>{{article.famille}}</td>
			<td><a href="{% url 'detail_article' article.id %}">{{article.libelle}}</a></td>
			<td>{{article.prix}}</td>
			<td>{{article.date}}</td>
		</tr>
	{% endfor %}
</table>
{% else %}
	<p>aucun article</p>
{% endif %}
<br />
<input type="button" value="Ajouter" onclick="window.location.href='{% url 'ajouter_article' %}'"></input>
<input type="button" value="Retour" onclick="window.location.href='{% url 'index' %}'"></input>
